.App footer {
  font-size: 14px;
  font-weight: 800;
  color: rgba(7, 44, 44, 0.8);
}

.App footer .emojiColor {
  color: rgb(210, 71, 117);
  font-size: 20px;
}

.App footer a {
  color: rgba(7, 44, 44, 0.8);
}
